<div class="col-md-12">
    <div class="wrapper">
        <div class="error">
            <%= image_tag('404.png', alt: '404 error image') %>
            <p>Page not found</p><a class="btn btn-success" href="/">Back to safety</a>
        </div>
    </div>
</div>