<div class="col-md-12 nopadding_left_rigt top_margin">
    <div class="wrapper">
        <% @articles.each do |article| %>
            <div class="col-md-12 nopadding">
               <div class="article_thumbnail">
                    <div class="article_wrapper">
                        <% if article.thumbnail %>
                            <% image_tag article.thumbnail, alt: article.title, class: 'thumbnail', lazy: true %>
                        <% end %>
                    
                        <h1 class="main_head block">
                            <%= link_to article.title, article_path(article.slug), class: "hover" %>
                        </h1>
                        <p class="clarification article_date"><%= article.date.strftime('%d %B %Y') %></p>
                    
                        <% if article.tags %>
                            <p class="article_tag_container">
                                <% article.tags.split(',').each do |info| %>
                                    <span class="article_tag"><%= info %></span>
                                <% end %>
                                
                            </p>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>

    </div>
</div>

