<div class="col-md-12 navbar-fixed-bottom footer nopadding nomargin">
    <div class="footer_part1"></div>
    <div class="footer_part2">
        <div class="wrapper">
            <div class="col-md-12">
                
                
                <div class="col-md-6 inline-block pull-left">
                    <table>
                        <tr>
                            <th><strong>Contact</strong></th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td><a href="mailto:p.kolev22@gmail.com">p.kolev22@gmail.com</a></td>
                        </tr>

                        <tr>
                            <td>Github:</td>
                            <td><a href="https://github.com/plamen-k">https://github.com/plamen-k</a></td>
                        </tr>

                        <tr>
                            <td>LinkeIn:</td>
                            <td><a href="https://www.linkedin.com/in/plamen-kolev-465915a7">https://www.linkedin.com/in/plamen-kolev-465915a7</a></td>
                        </tr>

                    </table>
                </div>
                <div class="col-md-6 inline-block align-right" id="mobile_footer_right">
                    <p>
                        Plamen Kolev <span class="white">2016-2017</span><br/>
                        All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>