<div class="wrapper">
    <nav class="main_navigator navbar navbar-expand-md navbar-light">
        <div id="logo_menu" class="menu_circle">
            <a class="navbar-brand nopadding" href="/"><img alt="Website logo image in the menu" id="logo_menu" src="/assets/logo-161a20f47c35dad89bdb75c577d99d5f9bee4b4b39b80134193829702d20c24b.svg" data-original="/assets/logo-161a20f47c35dad89bdb75c577d99d5f9bee4b4b39b80134193829702d20c24b.svg" style="display: block;"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav main_menu capital">
                <li><a href="/">home</a></li>
                <li><a href="/articles.html">Articles</a></li>
                <li><a href="/creative.html">Creative</a></li>
                <li><a href="/biography.html">Biography</a></li>
            </ul>

        </div>
    </nav>
</div>
