<div class="nopadding">
    <div class="outer_intro">
        <div class="landing">

            <div class="row overlay_hack">
                <div class="col-md-1"></div>
                <div class="col-md-6 slogan_wrapper">
                    <div class="wrapper" id="responsive_landing_hack">
                        <div class="logo_container center">
                            <span class="glyphicon glyphicon-flash landing_icon"></span>
                        </div>
                        <p class="capital landing_caption">
                        PLAMEN KOLEV:<br/>ARTICLES ON THE <br/>WEB</p>
                    </div>
                </div>
                <div class="col-md-5"></div>

            </div>
        </div>
    </div>
</div>
